@font-face {
    font-family: 'djb-bbi';
    src: url('../fonts/djb-belly-button-innie.eot');
    src: url('../fonts/djb-belly-button-innie.eot?#iefix') format('embedded-opentype'),
         url('../fonts/djb-belly-button-innie.woff2') format('woff2'),
         url('../fonts/djb-belly-button-innie.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'digital-7';
    src: url('../fonts/digital-7.eot');
    src: url('../fonts/digital-7.eot?#iefix') format('embedded-opentype'),
         url('../fonts/digital-7.woff2') format('woff2'),
         url('../fonts/digital-7.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'digital-7';
    src: url('../fonts/digital-7-italic.eot');
    src: url('../fonts/digital-7-italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/digital-7-italic.woff2') format('woff2'),
         url('../fonts/digital-7-italic.ttf') format('truetype');
    font-weight: italic;
    font-style: italic;
}

@font-face {
    font-family: 'digital-7-mono';
    src: url('../fonts/digital-7-mono.eot');
    src: url('../fonts/digital-7-mono.eot?#iefix') format('embedded-opentype'),
         url('../fonts/digital-7-mono.woff2') format('woff2'),
         url('../fonts/digital-7-mono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'digital-7-monoitalic';
    src: url('../fonts/digital-7-monoitalic.eot');
    src: url('../fonts/digital-7-monoitalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/digital-7-monoitalic.woff2') format('woff2'),
         url('../fonts/digital-7-monoitalic.ttf') format('truetype');
    font-weight: italic;
    font-style: italic;
}
