@font-face {
    font-family: 'comfortaa';
    src: url('fonts/comfortaa-regular.eot');
    src: url('fonts/comfortaa-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/comfortaa-regular.woff2') format('woff2'),
         url('fonts/comfortaa-regular.woff') format('woff'),
         url('fonts/comfortaa-regular.ttf') format('truetype'),
         url('fonts/comfortaa-regular.svg#comfortaa-regularcomfortaaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'comfortaa';
    src: url('fonts/comfortaa-bold.eot');
    src: url('fonts/comfortaa-bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/comfortaa-bold.woff2') format('woff2'),
         url('fonts/comfortaa-bold.woff') format('woff'),
         url('fonts/comfortaa-bold.ttf') format('truetype'),
         url('fonts/comfortaa-bold.svg#comfortaa-boldcomfortaabold') format('svg');
    font-weight: bold;
    font-style: bold;
}

@font-face {
    font-family: 'comfortaa';
    src: url('fonts/comfortaa-light.eot');
    src: url('fonts/comfortaa-light.eot?#iefix') format('embedded-opentype'),
         url('fonts/comfortaa-light.woff2') format('woff2'),
         url('fonts/comfortaa-light.woff') format('woff'),
         url('fonts/comfortaa-light.ttf') format('truetype'),
         url('fonts/comfortaa-light.svg#comfortaa-lightcomfortaalight') format('svg');
    font-weight: light;
    font-style: light;
}
